body{
    margin: 0;
    /*background: -webkit-gradient(linear, left top, left bottom, from(#cbccc8), to(#fff)) fixed;*/
}

/*navigation bar*/

#one{
  float: left;
  margin-left: 20px;
  margin-top: 5px;
}
#two{
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 35px;
  width: 15%;
  font-family: 'Acme', sans-serif;
}

.topnav {
  text-align: left;
  overflow: hidden;
  background-color: #39393a;
  margin-left: 20%;
  margin-top: 0px;
  border-top-left-radius: 50px;
}

.topnav #myTopnav a{
display: inline-block;
}

.topnav a {
  display: inline-block;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
  font-family: 'Volkhov', sans-serif;
  color: orange;
  text-align: left;
  padding-top: 12px;
  padding-bottom: 12px; 
  padding-left: 26px;
  text-decoration: none;
  font-size: 16px;
  padding-right: 50px;
 
}

.topnav a:hover {
  color: orange;
}

.topnav a:hover:not(.active){
  background-color: black;
    -webkit-transform:scale(1.15);/*safari and chrome*/
    -moz-transform:scale(1.15); /* Firefox */
    -ms-transform:scale(1.15); /* IE 9 */
    -o-transform:scale(1.15); /* Opera */
    transform:scale(1.15);
}


.active {
background-color: #267714;
}
.topnav .icon {
  display: none;
}
