body{
   /* background: cyan; /* For browsers that do not support gradients */
    /*background: -webkit-linear-gradient(cyan, white); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(cyan, white); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(cyan, white); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(cyan, white) no-repeat; /* Standard syntax */
    /*height: 1000px;*/
  }


img{
    display: block;
    width: 150px;
    height: 150px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    margin-top: -8px;
    padding: 0;
    overflow: hidden;
    background-color: #2f2f33;
    width: 100%;

}

li a {
    display: block;
    position: static;
    color: orange;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
        margin-left: 150px;
        font-family: sans-serif;
        font-size: 16px;
        -webkit-transform: all 1s ease;/*safari and chrome*/
        -moz-transition: all 1s ease; /* Firefox */
        -ms-transition: all 1s ease; /* IE 9 */
        -o-transition: all 1s ease; /* Opera */
        transition: all 1s ease;
}

li {
    float: left;
}

a:hover:not(.active) {
    background-color: white;
    -webkit-transform:scale(1.25);/*safari and chrome*/
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
}

.active {
background-color: #267714;
}


