<!DOCTYPE html>
<html>
  
	<head>
        <link rel="stylesheet" href=".\styles\drSearchMain.css">
    </head>
    <body>   
	     <!-- Select box Dr.Category -->
         	<div id="selection">
            	<div id="boxOne">
            
            <h2>Doctor Category</h2>
            <select  ng-model="selectedCategory">
	            
                <option id="drCat" value="" selected disabled> Select Doctor Category</option>
                <option value="Surgeon">Surgeon</option>
                <option value="Throat">Throat</option>
                <option value="Heart">Heart</option>
                <option value="Bones">Bones</option>
                <option value="Orthopedic">Orthopedic</option>
                
    
            </select>
            </div>

            <!-- Select box for User.City -->
            <div id="boxTwo">
            <h2>City</h2>
            <select ng-model="selectedCity">
	  
                <option value="" selected disabled>Select your city</option>
                <option value="Berlin">Berlin</option>
                <option value="Heidelberg">Heidelberg</option>
                <option value="Munich">Munich</option>
                <option value="Mannheim">Mannheim</option>
                <option value="Bad Durkheim">Bad Durkheim</option>
                <option value="Heilbronn">Heilbronn</option>

            </select>
            </div>

            <!-- select box for insurance company -->

            <div id="boxThree">
            <h2>Insurance Company</h2>
            
            <select ng-model="selectedInsurance" >  

	            <option value="" selected disabled>Select insurance company</option>
                <option value="AOK">AOK</option>
                <option value="TK">TK</option>
                <option value="Mawista">Mawista</option>
    
            </select>
            </div>

            <!-- Code for creating submit button-->
            </div>
            <div>
                <a id="search" ng-href="#/drList/{{selectedCategory}}/{{selectedCity}}/{{selectedInsurance}}"> Search </a>
            </div>
		<hr id="footerHr" style="margin-top: 14.1%; height: 3px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
		<div class="footer">
		<h3>Contact<br>About us<br>Follow us on</h3>
		<a href="#" class="fa fa-facebook"></a>
		<a href="#" class="fa fa-instagram"></a>
		<a href="#" class="fa fa-twitter"></a>
		</div>			
</body>

</html>
