<html>
 
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href=".\styles/medicalSearchMain.css">
    <title>Medical Search</title>
 </head>  
<body ng-app="minmax">

<div ng-controller="homeCtrl">
        <h1><span style="color:red;">*</span> Select your City </h1>
        
       
            <div class="form-group">
                <select name="city"
                class="form-control"
                ng-model="formModel.city" required>
                <option value="" selected disabled>Please Choose</option>
                <option value="Berlin">Berlin</option>
                <option value="Heidelberg">Heidelberg</option>
                <option value="Munich">Munich</option>
                <option value="Mannheim">Mannheim</option>
                <option value="Bad Durkheim">Bad Durkheim</option>
                <option value="Heilbronn">Heilbronn</option>
                </select>
            </div>

            <div class="form-group">
                <button class="btn btn-primary" ng-click="onSubmit()">Search</button>
            </div>
        
</div>

<hr>
        <div class="footer">
        <h3>Contact<br>About us<br>Follow us on</h3>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-twitter"></a>
        </div>

</body>

